/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */

/*   01 - Root
/*   02 - General
/*   03 - Nav
/*   04 - Section
/*   05 - Animatie
/*   06 - Media Queries
/* ------------------------------------------ */

/* Root */
:root{
    --primary-color: #06142e;
    --secondary-color: #f1916d;
    --tertiary-color: #1e2024;
    --quaternary-color: #fff;
    --quinary-color: #333;
    --senary-color: #ddd;
    --li-hover-tertiary-color: black;
    --readme-h1-color: purple;
    --readme-h2-color: #f1916d;
    --readme-h3-color: green;
}

/* General */
html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2, h3{
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 2em;
    font-weight: 400;
    letter-spacing: 2pt;
    color: var(--primary-color);
}
h2 {
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

p {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 2em;
    color: var(--tertiary-color);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

svg {
    fill: var(--quaternary-color);
    display: none;
}



/* Nav bar*/
header {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    z-index: 100; /* Over the rest of the page */
}

/* Hamburger Menu Icon Styles */
header nav span:first-of-type {
    display: none; /* Initially hide the menu icon */
    cursor: pointer;
    padding: 0.5rem;
    position: relative;
    z-index: 101; /* Over the rest of the website and the header */
}

header nav span:nth-child(3),
header nav span:nth-child(4){
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 5px 0;
    transition: 0.4s;
}

header ul{
    overflow: visible;
    display: flex;
}

main ul{
    overflow: auto;
    display: flex;
}

ul li {
    margin-right: 3em;
    padding: 1em;
}

ul a {
    color: var(--quaternary-color);
    text-decoration: none;
    padding: 1em;
}

header nav ul li a:hover {
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 3em;
    
}

nav a {
    color: var(--quaternary-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary-color); 
    transition: color 0.3s ease; 
}

nav li:last-child {
    margin-right: 0;
}

header div:nth-child(1) a {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    letter-spacing: 4pt;
    color: var(--quaternary-color);
    padding-bottom: 15px;
    text-decoration: none; 
}

/* Dropdown Styles */
header nav ul li:last-of-type {
    position: relative;
    display: inline-block;
}

header nav ul li div {
    display: none;
    position: absolute;
    background-color: var(--quaternary-color);
    min-width: 11rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0.2rem;
    padding: 0.5em 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

header nav ul li div.expanded {
    display: block;
    width: 100%;
    margin: -0.5rem;
}

header nav ul li div a {
    color: var(--tertiary-color); 
    text-decoration: none;
    display: block;
    padding: 0.5em 1em; 
    background-color: var(--quaternary-color);
}

header nav ul li div a:hover {
    background-color: var(--senary-color); 
}

header nav ul li:last-of-type:hover header nav ul li div {
    display: block;
    top: 100%; 
    right: 0; 
}

/* section styling */
section {
    padding: 2em;
}

section:first-of-type {
    background-color: var(--quaternary-color);
    padding: 0;
}

/* sections */
section:last-of-type h1{
    color: var(--readme-h1-color);
    font-size: 2rem;
}

section:last-of-type h2{
    color: var(--readme-h2-color);
    font-size: 1.75rem;
}

section:last-of-type h3{
    color: var(--readme-h3-color);
    font-size: 1.5rem;
}


section:first-of-type, section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2em; 
    align-items: center; 
    background-color: var(--quaternary-color);
    padding: 0;
}

section:first-of-type div, section:nth-child(2) div {
    padding: 2em;
}

/* animatie */
#image-container {
    position: relative;
    overflow: hidden;
    height: 50rem;
}

#image-container .image {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

#image-container .image:first-child {
    opacity: 1;
}

/* Media Queries */
/* Mobile format */
@media (max-width: 660px) {
    header nav span:first-of-type {
        display: block; 
    }
    
    header nav ul {
        display: block; 
        flex-direction: column; 
        position: absolute;
        background-color: var(--primary-color);
        top: 60px;
        right: 0;
        width: 100%;
        padding: 10px 0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        transform: translateY(-300px);
        transition: 0.5s;

    }

    ul.show {
        position: absolute;
        width: 100vw;
        left: 0;
        display: flex; 
        background-color: var(--readme-h2-color);
        padding: 0.5em;
        margin-top: 4em;
        z-index: -1;
        transform: translateY(0px);
        transition: 0.5s;

    }
    header nav ul li:last-of-type:hover header nav ul li div {
        width: 100%;
        margin: 0.5em;
        color: var(--tertiary-color);
        transform: translateY(0px);
    }

    svg{
        display: block;
        fill: var(--quaternary-color);
        width: 3em;
    }


/* ipad/tablet format */
@media (max-width: 950px) {
    .image-container {
        width: 100%;
    }

    section:first-of-type, section:nth-of-type(2) {
        grid-template-columns: 1fr; 
        gap: 1em; 
    }

    section:first-of-type div, section:nth-child(2) div {
        overflow-x: hidden; 
        word-wrap: break-word; /* Lange tekst afbereken */
        margin-top: 2.5em;
    }

    header nav ul li a:hover{
        color: var(--li-hover-tertiary-color);
    }
}
}