/* * {
    border:solid 1px red;
} */

html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

svg {
    fill: white;
}


/* general styling */
h2, h3{
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 2em;
    font-weight: 400;
    letter-spacing: 2pt;
    color: #06142e;
}
h2 {
    font-size: 2em;

}

h3{
    font-size: 1.5em;
}

p {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 2em;
    color: #1e2024;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* sections */
section:last-of-type h1{
    color: purple;
    font-size: 2rem;
}

section:last-of-type h2{
    color: #f1916d;
    font-size: 1.75rem;
}

section:last-of-type h3{
    color: green;
    font-size: 1.5rem;
}



/* Navigatie balk*/
header {
    position: sticky;
    top: 0;
    background-color: #06142e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    z-index: 100; /* over de rest van de website */
}

/* Hamburger Menu Icon Styles */
header nav span:first-of-type {
    display: none; /* Initially hide the menu icon */
    cursor: pointer;
    padding: 0.5rem;
    position: relative;
    z-index: 101; /* over de rest van website en de header */
}


/* header nav div:nth-child(2), */
header nav span:nth-child(3),
header nav span:nth-child(4){
    width: 25px;
    height: 3px;
    background-color: #f1916d;
    margin: 5px 0;
    transition: 0.4s;
}




header ul{
    overflow: visible;
    display: flex;
}

main ul{
    overflow: auto;
    display: flex;
}

ul li {
    margin-right: 3em;
    padding: 1em;
}

ul a {
    color: white;
    text-decoration: none;
    padding: 1em;
}

/* .nav-link.active {
    border-bottom-color: white; 
} 
*/

/* Hover effect */
header nav ul li a:hover {
    color: #f1916d;
    transition: color 0.3s ease;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 3em;
    
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hover van de nav bar */
nav a:hover {
    color: #f1916d; 
    transition: color 0.3s ease; 
}

nav li:last-child {
    margin-right: 0;
}

header div:nth-child(1) a {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    letter-spacing: 4pt;
    color: #fff;
    padding-bottom: 15px;
    text-decoration: none; /* Stond een lijn onder, weet niet waarom */
}

/* Dropdown Styles */
header nav ul li:last-of-type {
    position: relative;
    display: inline-block;
}


header nav ul li div {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 0.5em 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

}
svg{
    display: none;
}

header nav ul li div.expanded {
    display: block;
    width: 100%;
    margin: 0.5em;
}

/* Style for dropdown links */
header nav ul li div a {
    color: #333; 
    text-decoration: none;
    display: block;
    padding: 0.5em 1em; 
    background-color: white;
}

header nav ul li div a:hover {
    background-color: #ddd; 
}

header nav ul li:last-of-type:hover header nav ul li div {
    display: block;
    top: 100%; 
    right: 0; 
}


/* section styling */
section {
    padding: 2em;
}

section:first-of-type {
    background-color: white;
    padding: 0;
}



section:first-of-type, section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2em; 
    align-items: center; 
    background-color: white;
    padding: 0;
}

/* .image-container img {
    max-width: 100%;
    height: auto;
} */

/* .text-container {
    padding: 2em;
} */
section:first-of-type div, section:nth-child(2) div {
    padding: 2em;
}

/* .interactive-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease; 
} */

/* .interactive-image:hover {
    transform: scale(1.1); 
} */

/* .interactive-image,
.hovered-image {
    max-width: 100%;
    height: auto;
} */

/* .hovered-image {
    display: none; 
}

.image-container:hover .interactive-image {
    display: none; 
}

.image-container:hover .hovered-image {
    display: block; 
} */

/* animatie */
#image-container {
    position: relative;
    overflow: hidden;
    /* width: 100%; */
    height: 800px;
    
}

#image-container .image {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    /* cursor: pointer; */
    /* transition: opacity 0.5s ease; */
}

#image-container .image:first-child {
    opacity: 1;
}

/* @keyframes changeImage {
    0% { opacity: 1; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 1; }
}

.image-container-animation .image:nth-child(1) { animation: changeImage 6s infinite 0s; }
.image-container-animation .image:nth-child(2) { animation: changeImage 6s infinite 1s; }
.image-container-animation .image:nth-child(3) { animation: changeImage 6s infinite 2s; }
.image-container-animation .image:nth-child(4) { animation: changeImage 6s infinite 3s; }
.image-container-animation .image:nth-child(5) { animation: changeImage 6s infinite 4s; }
.image-container-animation .image:nth-child(6) { animation: changeImage 6s infinite 5s; } */

/* #console-data{
    font-family: 'Julius Sans One', sans-serif;
}
         */


@media (max-width: 660px) {
    header nav span:first-of-type {
        display: block; 
    }
    
    header nav ul {
        display: block; 
        flex-direction: column; 
        position: absolute;
        background-color: black;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 10px 0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        transform: translateY(-300px);
        transition: 0.5s;

    }

    ul.show {
        position: absolute;
        width: 100vw;
        left: 0;
        display: flex; 
        background-color: #f1916d;
        padding: 0.5em;
        margin-top: 4em;
        z-index: -1;
        transform: translateY(0px);
        transition: 0.5s;

    }
    header nav ul li:last-of-type:hover header nav ul li div {
        width: 100%;
        margin: 0.5em;
        color: black;
        transform: translateY(0px);
}

svg{
    display: block;
    fill: white;
    width: 3em;
}


/* ipad/tablet formaat */
@media (max-width: 950px) {
    .image-container {
        width: 100%;
    }

    section:first-of-type, section:nth-of-type(2) {
        grid-template-columns: 1fr; 
        gap: 1em; 
    }

    section:first-of-type div, section:nth-child(2) div {
        overflow-x: hidden; 
        word-wrap: break-word; /* Lange tekst afbereken */
        margin-top: 2.5em;
    }
    /* .nav-link:hover {
        color: black;
    } */
    header nav ul li a:hover{
        color: black;
    }
}


}